<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>诗词</title> 
    <link rel="stylesheet" href="poem.css">
    <script src="./static/jquery-3.3.1.min.js"></script>
    
</head>

<body>
<a href="./pictureitem.html"><i class="radios"></i></a>
<header>
    <h1>青山依旧在</h1>
</header>

<div class="body-page">
    <div class="left"> 




        <div class=text-are>
            <ul class="are-icon">
                <li><a href="javascript:void(0);" >背</a></li>
                <li><a href="javascript:void(0);" >赏</a></li>
                <li><a href="javascript:void(0);" >注</a></li>
                <li><a href="javascript:void(0);" >译</a></li>
            </ul>
            
            <h4 id="mon">春江花月夜</h4>
            <p style="font-size: 12px; color: #a2c241">唐代：张若虚</p>
            <textarea name="" class="textinput" cols="30" rows="8" autofocus="autofocus" placeholder="" ></textarea>
            <p class="somearticl" >
                春江潮水连海平，海上明月共潮生。<br>
                <span  class="spanText">春天的江潮水势浩荡，与大海连成一片，一轮明月从海上升起，好像与潮水一起涌出来。<br></span>
                <span class="zushiText">一种相思，两处闲愁：意思是彼此都在思念对方，可又不能互相倾诉，只好各在一方独自愁闷着。<br></span>

                滟滟随波千万里，何处春江无月明！<br>
                <span  class="spanText">月光照耀着春江，随着波浪闪耀千万里，所有地方的春江都有明亮的月光。<br></span>
                <span class="zushiText">滟（yàn）滟：波光荡漾的样子。<br></span>

                江流宛转绕芳甸，月照花林皆似霰。<br>
                <span  class="spanText">江水曲曲折折地绕着花草丛生的原野流淌，月光照射着开遍鲜花的树林好像细密的雪珠在闪烁。<br></span>
                <span class="zushiText">芳甸：芳草丰茂的原野。甸，郊外之地。霰：天空中降落的白色不透明的小冰粒。形容月光下春花晶莹洁白。<br></span>

                空里流霜不觉飞，汀上白沙看不见。<br>
                <span  class="spanText">月色如霜，所以霜飞无从觉察。洲上的白沙和月色融合在一起，看不分明。<br></span>
                <span class="zushiText">流霜：飞霜，古人以为霜和雪一样，是从空中落下来的，所以叫流霜。在这里比喻月光皎洁，月色朦胧、流荡，所以不觉得有霜霰飞扬。汀：沙滩。<br></span>

                江天一色无纤尘，皎皎空中孤月轮。<br>
                <span  class="spanText">江水、天空成一色，没有一点微小灰尘，明亮的天空中只有一轮孤月高悬空中。<br></span>
                <span class="zushiText">纤尘：微细的灰尘。月轮：指月亮，因为月圆时像车轮，所以称为月轮。<br></span>

                江畔何人初见月？江月何年初照人？<br>
                <span  class="spanText">江边上什么人最初看见月亮，江上的月亮哪一年最初照耀着人？<br></span>
                

                人生代代无穷已，江月年年望相似。<br>
                <span  class="spanText">人生一代代地无穷无尽，只有江上的月亮一年年地总是相像。<br></span>
                <span class="zushiText">穷已：穷尽。江月年年望相似：另一种版本为“江月年年只相似”。<br></span>

                不知江月待何人，但见长江送流水。<br>
                <span  class="spanText">不知江上的月亮等待着什么人，只见长江不断地一直运输着流水。<br></span>
                <span class="zushiText">但见：只见、仅见。<br></span>

                白云一片去悠悠，青枫浦上不胜愁。<br>
                <span  class="spanText">游子像一片白云缓缓地离去，只剩下思妇站在离别的青枫浦不胜忧愁。<br></span>
                <span class="zushiText">悠悠：渺茫、深远。青枫浦上：青枫浦 地名 今湖南浏阳县境内有青枫浦。这里泛指游子所在的地方。浦上：水边。《九歌 河伯》：“送美人兮南浦。”因而此句隐含离别之意。<br></span>

                谁家今夜扁舟子？何处相思明月楼？<br>
                <span  class="spanText">哪家的游子今晚坐着小船在漂流？什么地方有人在明月照耀的楼上相思？<br></span>
                <span class="zushiText">扁舟子：飘荡江湖的游子。扁舟，小舟。<br></span>

                可怜楼上月徘徊，应照离人妆镜台。<br>
                <span  class="spanText">可怜楼上不停移动的月光，应该照耀着离人的梳妆台。<br></span>
                <span class="zushiText">明月楼：月夜下的闺楼。这里指闺中思妇。月徘徊：指月光偏照闺楼，徘徊不去，令人不胜其相思之苦。离人：此处指思妇。妆镜台：梳妆台。<br></span>

                玉户帘中卷不去，捣衣砧上拂还来。<br>
                <span  class="spanText">月光照进思妇的门帘，卷不走，照在她的捣衣砧上，拂不掉。<br></span>
                <span class="zushiText">玉户：形容楼阁华丽，以玉石镶嵌。捣衣砧：捣衣石、捶布石。<br></span>

                此时相望不相闻，愿逐月华流照君。<br>
                <span  class="spanText">这时互相望着月亮可是互相听不到声音，我希望随着月光流去照耀着您。<br></span>
                <span class="zushiText">相闻：互通音信。逐：追随。月华：月光。<br></span>

                鸿雁长飞光不度，鱼龙潜跃水成文。<br>
                <span  class="spanText">鸿雁不停地飞翔，而不能飞出无边的月光；月照江面，鱼龙在水中跳跃，激起阵阵波纹。<br></span>
                <span class="zushiText">文：同“纹”。<br></span>

                昨夜闲潭梦落花，可怜春半不还家。<br>
                <span  class="spanText">昨天夜里梦见花落闲潭，可惜的是春天过了一半自己还不能回家。<br></span>
                <span class="zushiText">闲潭：幽静的水潭。<br></span>

                江水流春去欲尽，江潭落月复西斜。<br>
                <span  class="spanText">江水带着春光将要流尽，水潭上的月亮又要西落。<br></span>
                <span class="zushiText">复西斜：此中“斜”应为押韵读作“xiá”（洛阳方言是当时的标准国语，斜在洛阳方言中就读作xiá）。<br></span>

                斜月沉沉藏海雾，碣石潇湘无限路。<br>
                <span  class="spanText">斜月慢慢下沉，藏在海雾里，碣石与潇湘的离人距离无限遥远。<br></span>
                <span class="zushiText">潇湘:湘江与潇水。碣石、潇湘：一南一北，暗指路途遥远，相聚无望。无限路：极言离人相距之远。<br></span>

                不知乘月几人归，落月摇情满江树。<br>
                <span  class="spanText">不知有几人能趁着月光回家，唯有那西落的月亮摇荡着离情，洒满了江边的树林。 <br></span>
                <span class="zushiText">乘月：趁着月光。摇情：激荡情思，犹言牵情。<br></span>
            </p > 
            <article class="shangText"><hr>
                    被闻一多先生誉为“诗中的诗，顶峰上的顶峰”（《宫体诗的自赎》）的《春江花月夜》，一千多年来使无数读者为之倾倒。一生仅留下两首诗的张若虚，也因这一首诗，“孤篇横绝，竟为大家”。<br>

                　　诗篇题目就令人心驰神往。春、江、花、月、夜，这五种事物集中体现了人生最动人的良辰美景，构成了诱人探寻的奇妙的艺术境界。<br>
                
                　　诗人入手擒题，一开篇便就题生发，勾勒出一幅春江月夜的壮丽画面：江潮连海，月共潮生。这里的“海”是虚指。江潮浩瀚无垠，仿佛和大海连在一起，气势宏伟。这时一轮明月随潮涌生，景象壮观。一个“生”字，就赋予了明月与潮水以活泼泼的生命。月光闪耀千万里之遥，哪一处春江不在明月朗照之中！江水曲曲弯弯地绕过花草遍生的春之原野，月色泻在花树上，象撒上了一层洁白的雪。诗人真可谓是丹青妙手，轻轻挥洒一笔，便点染出春江月夜中的奇异之“花”。同时，又巧妙地缴足了“春江花月夜”的题面。诗人对月光的观察极其精微：月光荡涤了世间万物的五光十色，将大千世界浸染成梦幻一样的银辉色。因而“流霜不觉飞”，“白沙看不见”，浑然只有皎洁明亮的月光存在。细腻的笔触，创造了一个神话般美妙的境界，使春江花月夜显得格外幽美恬静。这八句，由大到小，由远及近，笔墨逐渐凝聚在一轮孤月上了。<br>
                
                　　清明澄彻的天地宇宙，仿佛使人进入了一个纯净的世界，这就自然地引起了诗人的遐思冥想：“江畔何人初见月？江月何年初照人？”诗人神思飞跃，但又紧紧联系着人生，探索着人生的哲理与宇宙的奥秘。这种探索，古人也已有之，如曹植《送应氏》：“天地无终极，人命若朝霜”，阮籍《咏怀》：“人生若尘露，天道邈悠悠”等等，但诗的主题多半是感慨宇宙永恒，人生短暂。张若虚在此处却别开生面，他的思想没有陷入前人窠臼，而是翻出了新意：“人生代代无穷已，江月年年只相似。”个人的生命是短暂即逝的，而人类的存在则是绵延久长的，因之“代代无穷已”的人生就和“年年只相似”的明月得以共存。这是诗人从大自然的美景中感受到的一种欣慰。诗人虽有对人生短暂的感伤，但并不是颓废与绝望，而是缘于对人生的追求与热爱。全诗的基调是“哀而不伤”，使我们得以聆听到初盛唐时代之音的回响。<br>
                
                　　“不知江月待何人，但见长江送流水”，这是紧承上一句的“只相似”而来的。人生代代相继，江月年年如此。一轮孤月徘徊中天，象是等待着什么人似的，却又永远不能如愿。月光下，只有大江急流，奔腾远去。随着江水的流动，诗篇遂生波澜，将诗情推向更深远的境界。江月有恨，流水无情，诗人自然地把笔触由上半篇的大自然景色转到了人生图象，引出下半篇男女相思的离愁别恨。<br>
                
                　　“白云”四句总写在春江花月夜中思妇与游子的两地思念之情。“白云”、“青枫浦”托物寓情。白云飘忽，象征“扁舟子”的行踪不定。“青枫浦”为地名，但“枫”“浦”在诗中又常用为感别的景物、处所。“谁家”“何处”二句互文见义，正因不止一家、一处有离愁别恨，诗人才提出这样的设问，一种相思，牵出两地离愁，一往一复，诗情荡漾，曲折有致。<br>
                
                　　以下“可怜”八句承“何处”句，写思妇对离人的怀念。然而诗人不直说思妇的悲和泪，而是用“月”来烘托她的怀念之情，悲泪自出。诗篇把“月”拟人化，“徘徊”二字极其传神：一是浮云游动，故光影明灭不定；二是月光怀着对思妇的怜悯之情，在楼上徘徊不忍去。它要和思妇作伴，为她解愁，因而把柔和的清辉洒在妆镜台上、玉户帘上、捣衣砧上。岂料思妇触景生情，反而思念尤甚。她想赶走这恼人的月色，可是月色“卷不去”，“拂还来”，真诚地依恋着她。这里“卷”和“拂”两个痴情的动作，生动地表现出思妇内心的愁怅和迷惘。月光引起的情思在深深地搅扰着她，此时此刻，月色不也照着远方的爱人吗？共望月光而无法相知，只好依托明月遥寄相思之情。望长空：鸿雁远飞，飞不出月的光影，飞也徒劳；看江面，鱼儿在深水里跃动，只是激起阵阵波纹，跃也无用。“尺素在鱼肠，寸心凭雁足”。向以传信为任的鱼雁，如今也无法传递音讯──该又凭添几重愁苦！<br>
                
                　　最后八句写游子，诗人用落花、流水、残月来烘托他的思归之情。“扁舟子”连做梦也念念归家──花落幽潭，春光将老，人还远隔天涯，情何以堪！江水流春，流去的不仅是自然的春天，也是游子的青春、幸福和憧憬。江潭落月，更衬托出他凄苦的寞寞之情。沉沉的海雾隐遮了落月；碣石、潇湘，天各一方，道路是多么遥远。“沉沉”二字加重地渲染了他的孤寂；“无限路”也就无限地加深了他的乡思。他思忖：在这美好的春江花月之夜，不知有几人能乘月归回自己的家乡！他那无着无落的离情，伴着残月之光，洒满在江边的树林之上……<br>
                
                　　“落月摇情满江树”，这结句的“摇情”──不绝如缕的思念之情，将月光之情，游子之情，诗人之情交织成一片，洒落在江树上，也洒落在读者心上，情韵袅袅，摇曳生姿，令人心醉神迷。<br>
                
                　　《春江花月夜》在思想与艺术上都超越了以前那些单纯模山范水的景物诗，“羡宇宙之无穷，哀吾生之须臾”的哲理诗，抒儿女别情离绪的爱情诗。诗人将这些屡见不鲜的传统题材，注入了新的含义，融诗情、画意、哲理为一体，凭借对春江花月夜的描绘，尽情赞叹大自然的奇丽景色，讴歌人间纯洁的爱情，把对游子思妇的同情心扩大开来，与对人生哲理的追求、对宇宙奥秘的探索结合起来，从而汇成一种情、景、理水乳交溶的幽美而邈远的意境。诗人将深邃美丽的艺术世界特意隐藏在惝恍迷离的艺术氛围之中，整首诗篇仿佛笼罩在一片空灵而迷茫的月色里，吸引着读者去探寻其中美的真谛。<br>
                
                　　全诗紧扣春、江、花、月、夜的背景来写，而又以月为主体。“月”是诗中情景兼融之物，它跳动着诗人的脉搏，在全诗中犹如一条生命纽带，通贯上下，触处生神，诗情随着月轮的生落而起伏曲折。月在一夜之间经历了升起──高悬──西斜──落下的过程。在月的照耀下，江水、沙滩、天空、原野、枫树、花林、飞霜、白去、扁舟、高楼、镜台、砧石、长飞的鸿雁、潜跃的鱼龙，不眠的思妇以及漂泊的游子，组成了完整的诗歌形象，展现出一幅充满人生哲理与生活情趣的画卷。这幅画卷在色调上是以淡寓浓，虽用水墨勾勒点染，但“墨分五彩”，从黑白相辅、虚实相生中显出绚烂多彩的艺术效果，宛如一幅淡雅的中国水墨画，体现出春江花月夜清幽的意境美。<br>
                
                　　诗的韵律节奏也饶有特色。诗人灌注在诗中的感情旋律极其悲慨激荡，但那旋律既不是哀丝豪竹，也不是急管繁弦，而是象小提琴奏出的小夜曲或梦幻曲，含蕴，隽永。诗的内在感情是那样热烈、深沉，看来却是自然的、平和的，犹如脉搏跳动那样有规律，有节奏，而诗的韵律也相应地扬抑回旋。全诗共三十六句，四句一换韵，共换九韵。又平声庚韵起首，中间为仄声霰韵、平声真韵、仄声纸韵、平声尤韵、灰韵、文韵、麻韵，最后以仄声遇韵结束。诗人把阳辙韵与阴辙韵交互杂沓，高低音相间，依次为洪亮级（庚、霰、真）──细微极（纸）──柔和级（尤、灰）──洪亮级（文、麻）──细微级（遇）。全诗随着韵脚的转换变化，平仄的交错运用，一唱三叹，前呼后应，既回环反复，又层出不穷，音乐节奏感强烈而优美。这种语音与韵味的变化，又是切合着诗情的起伏，可谓声情与文情丝丝入扣，宛转谐美。<hr></article>
            <a style="font-size: 12px; color: #a2c241">春天，写花，月亮，思念，乐府</a>
            <div class="givelist">
                <a href="javascript:void(0);" id="giveup"  >放弃</a>
                <a href="javascript:void(0);"  >提交</a> 
            </div>
            <hr>
        </div>


        

     
    </div>
    <div class="right">
        <div class="title">
            <div class="title-left"></div>
            <h4>诗文</h4>
        </div>
        <div class="cont">
            <a href="#meihua">梅花</a>
            <a href="">荷花</a>
            <a href="">桃花</a>
            <a href="">菊花</a>
            <a href="">描风</a>
            <a href="">写雨</a>
            <a href="">弄雪</a>
            <a href="#mon">赏月</a>
            <a href="">元宵</a>
            <a href="">清明</a>
            <a href="">中秋</a>
            <a href="">重阳</a>

        </div>
    </div>
          
</div>
<script src="poem.js"></script>
<footer> 
   <p></p>
</footer>
</body>


</html>